<!-- 
  Author: Taera Kwon (300755802)
  File Name: views/contact.ejs
  Website Name: Projects | Taera
  Description:  This is the Contacts page 'views/contact'
                This page will list methods to contact me
-->

<% include ../partials/header.ejs %>
<div class="container-fluid body">
  <div class="row">
    <div class="col-md-offset-0 col-md-0">
      <div class="bodyContainer contact text-center">
        <address>
          <strong>Address</strong>
          <br>
          4 Wetherby Drive, Scarborough ON M1J1L6<br>     
          <strong>Phone</strong>
          <br>4379967374   <br>
        </address>
      <div class="social">
          <a href="https://www.linkedin.com/in/chris-pham-5b6251146/"><i class="fa fa-3x fa-linkedin-square"></i></a>
          <a href="https://github.com/ChrisPTheCoder"><i class="fa fa-3x fa-github-square"></i></a>
          <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=chris.pham.0307@gmail.com"><i class="fa fa-3x fa-google"></i></a>
          <a href="https://www.instagram.com/chris.p.07/"><i class="fa fa-3x fa-instagram"></i></a>
          <a href="https://www.facebook.com/chypidabet777"><i class="fa fa-3x fa-facebook-square"></i></a>
        </div>
        </div>
    </div> <!-- .col-md-offset-3 col-md-6 -->
  </div> <!-- .row -->
</div> <!-- .container-fluid body -->
<% include ../partials/footer.ejs %>